@using Microsoft.AspNetCore.Mvc.Localization
@using ejada.employees.Localization
@inject IHtmlLocalizer<employeesResource> L
<a class="nav-link" role="button" href="https://localhost:44355/Account/Login?returnUrl=https://localhost:44378">Login</a>

